/* Background */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  background: linear-gradient(
  135deg,
  rgba(106, 17, 203, 0.4) 0%,
  rgba(37, 117, 252, 0.4) 100%
);
}

/* Glassmorphism container */
.signup-container {
  width: 100%;
  max-width: 420px;
  padding: 35px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  box-shadow: 0px 8px 30px rgba(0,0,0,0.2);
  text-align: center;
  color: black;
}

/* Heading */
.signup-container h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

/* Form */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* Input fields */
.signup-form input {
  padding: 14px;
  margin-bottom: 18px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  transition: all 0.3s ease;
}

.signup-form input:focus {
  background: #fff;
  box-shadow: 0 0 8px rgba(37,117,252,0.6);
}

/* Normal login button */
.login-btn {
  padding: 14px;
  border: none;
  background: #2575fc;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

.login-btn:hover {
  background: #1b5bcc;
  transform: translateY(-2px);
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  margin: 18px 0;
  color: black;
  font-size: 14px;
}
.divider::before, .divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: black;
  margin: 0 8px;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px;
  border: 1px solid #ddd;
  background: #fff;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transform: translateY(-2px);
}

.error-text {
  color: #ff4d4d;
  margin-top: 12px;
  font-size: 14px;
}

.success-text {
  color: #4caf50;
  margin-top: 12px;
  font-size: 20px;
  font-weight: bold;
}
.guest-btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  background: #6c757d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.guest-btn:hover {
  background: #5a6268;
}

.redirect-text {
  margin-top: 15px;
  font-size: 20px;
  color: #333;
}

.redirect-link {
  color: #911e1e;
  font-weight: bold;
  cursor: pointer;
}

.redirect-link:hover {
  text-decoration: underline;
}
